/* General styles for all menus */
.cbp-spmenu {
	background: #eeeeee;
	position: fixed;
    opacity: 0.9;
}

.cbp-spmenu h3 {
	color: black;
	font-size: 1.9em;
	padding-left: 15px;
	margin: 0;
    height: 40px;
	font-weight: 300;
	background: skyblue;
}

.menuHeader{
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}
.menuHeader{
    display: block;
    color: black;
    font-size: 1.1em;
    font-weight: 300;
}


.menuHeader:hover {
	background: floralwhite;
}

.menuHeader:active {
	background: #afdefa;
	color: orange;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.menuHeader{
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}


.cbp-spmenu-right {
	right: -240px;
}


.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

}

.menuButton{
	position: relative;
	width: 50%;
	float: left;
	color:#333;
	background-color:#fff;
    padding:6px 12px;
    border:1px solid transparent;
    border-radius:4px
}
#Ok{
    background-color: orange;
}
#reSet{
    background-color: grey;
}
/*.searchNav {background: #A3D0C3;}*/
.searchNav input {
    width: 80%;
    height: 40px;
    padding-left: 40px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    color: #9E9C9C;
}


